.back1{
    width: 1450px;
}

.menu{
    margin: 0 auto;
}

.taskbar{
    padding: 15px;
    font-family: 'Ubuntu', sans-serif;
    margin: 0 auto;
}

a{
    text-decoration:none ;
}

table{
    margin: 0 auto;
}

h2{
    text-align: center;
}

p{
    text-align: center;
}

.menu1{
    width: 400px;
    height: 300px;
}